openapi: 3.0.0
info:
  title: PKI Service API
  version: 1.0.0
  description: |
    Сервис электронной подписи документов с использованием ЭЦП РК (НУЦ РК).
    Поддерживает одиночное и пакетное подписание, интеграцию с корпоративным
    S3, BPM workflow и hash-based подписание через NCALayer.

    ## Аутентификация
    - `ApiKeyAuth` — `Authorization: Bearer <api_key>` (длинный токен без точек).
    - `BearerAuth` — JWT, выданный `/auth/login` или `/auth/register`.

    На `/api/v1/*` принимаются оба варианта (`DualAuth`). На `/auth/me` и
    `/auth/logout` — только JWT. На `/api/admin/*` — JWT + роль admin.

    ## Контуры
    - test: `http://localhost:8080`
    - prod: `https://pki.fin4b.kz`

    ## Примечания
    Некоторые request/response поля задокументированы на основе кода
    хендлеров; для нетривиальных потоков (sign/initiate, applications)
    точный JSON-контракт смотри в `internal/handler/*.go`.

servers:
  - url: https://pki.fin4b.kz
    description: Production

tags:
  - name: Health
    description: Health/status
  - name: Auth
    description: Регистрация, логин, текущий пользователь
  - name: Verify
    description: Публичная страница верификации подписи (HTML)
  - name: Documents
    description: CRUD документов, синхронная и асинхронная подпись
  - name: Batch
    description: Пакетная загрузка/подписание
  - name: SessionSigning
    description: Сессионное (hash-flow) подписание через NCALayer
  - name: Applications
    description: BPM-интеграция, batch-workflow
  - name: Webhooks
    description: Подписки на события и тестовая доставка
  - name: Admin
    description: Управление тенантами, API-ключами, пользователями
  - name: Demo
    description: Демо-эндпоинты для фронтенда (без auth)

security:
  - ApiKeyAuth: []
  - BearerAuth: []

paths:
  # ───────── Health ─────────
  /health:
    get:
      tags: [Health]
      security: []
      summary: Состояние сервиса
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
                  env: { type: string, example: prod }
                  workers:
                    type: object
                    additionalProperties: { type: string, example: running }
                  storage:
                    type: object
                    additionalProperties: { type: string, example: ok }

  # ───────── Auth ─────────
  /auth/register:
    post:
      tags: [Auth]
      security: []
      summary: Регистрация пользователя
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, name]
              properties:
                email: { type: string, format: email }
                password: { type: string, minLength: 8 }
                name: { type: string }
      responses:
        '201':
          description: Создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /auth/login:
    post:
      tags: [Auth]
      security: []
      summary: Логин
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/me:
    get:
      tags: [Auth]
      security:
        - BearerAuth: []
      summary: Текущий пользователь
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string, format: uuid }
                  email: { type: string }
                  name: { type: string }
                  role: { type: string, enum: [user, admin] }
                  tenant_id: { type: string, format: uuid }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/logout:
    post:
      tags: [Auth]
      security:
        - BearerAuth: []
      summary: Логаут
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean, example: true }

  # ───────── Verify (public HTML) ─────────
  /verify/{signature_id}:
    get:
      tags: [Verify]
      security: []
      summary: Публичная страница верификации подписи
      description: HTML-страница с данными подписи и QR-кодом.
      parameters:
        - name: signature_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: HTML-страница верификации
          content:
            text/html:
              schema: { type: string }
        '404':
          description: Подпись не найдена
          content:
            text/html:
              schema: { type: string }

  # ───────── Documents ─────────
  /api/v1/documents:
    post:
      tags: [Documents]
      summary: Создать запись документа по существующему S3-ключу
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [s3_key]
              properties:
                s3_key: { type: string, example: tenant_uuid/path/file.pdf }
                title: { type: string, example: Договор № 12 }
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: Создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id: { type: string, format: uuid }
                      status: { type: string, enum: [draft, pending, partially_signed, signed, rejected] }
                      created_at: { type: string, format: date-time }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/v1/documents/{id}:
    get:
      tags: [Documents]
      summary: Получить документ + список подписей
      parameters:
        - $ref: '#/components/parameters/DocumentID'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Document' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/documents/{id}/sign:
    post:
      tags: [Documents]
      summary: Синхронно подписать документ
      description: |
        Принимает CMS-подпись от NCALayer, верифицирует через NCANode,
        собирает новую версию PDF с QR-штампом и «Листом подписей»,
        обновляет статус документа.
      parameters:
        - $ref: '#/components/parameters/DocumentID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cms]
              properties:
                cms:
                  type: string
                  description: Base64 CMS (PKCS#7)
                role:
                  type: string
                  example: client
                  description: client / factor / director / ...
      responses:
        '200':
          description: Подписано
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      signature_id: { type: string, format: uuid }
                      signed_document_url: { type: string, example: tenant/doc/v2.pdf }
                      signature: { $ref: '#/components/schemas/Signature' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/v1/documents/{id}/sign-async:
    post:
      tags: [Documents]
      summary: Поставить подпись в фон, вернуть 202
      parameters:
        - $ref: '#/components/parameters/DocumentID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cms]
              properties:
                cms: { type: string }
                role: { type: string }
      responses:
        '202':
          description: Принято, обработка в фоне
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      task_id: { type: string, format: uuid }
                      status: { type: string, example: processing }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/v1/documents/{id}/sign-status:
    get:
      tags: [Documents]
      summary: Статус асинхронного подписания
      parameters:
        - $ref: '#/components/parameters/DocumentID'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [pending, processing, signed, failed] }
                  signed_document_url: { type: string, nullable: true }
                  error: { type: string, nullable: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/upload:
    post:
      tags: [Documents]
      summary: Загрузить файл документа в S3 и создать запись
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                title: { type: string }
      responses:
        '201':
          description: Создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Document' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/v1/documents/{id}/file:
    get:
      tags: [Documents]
      summary: Скачать текущую версию PDF
      parameters:
        - $ref: '#/components/parameters/DocumentID'
      responses:
        '200':
          description: PDF
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ───────── Batch ─────────
  /api/v1/batch/upload:
    post:
      tags: [Batch]
      summary: Пакетная загрузка документов
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [files]
              properties:
                files:
                  type: array
                  items: { type: string, format: binary }
      responses:
        '201':
          description: Создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      documents:
                        type: array
                        items: { $ref: '#/components/schemas/Document' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/v1/batch/sign:
    post:
      tags: [Batch]
      summary: Пакетное подписание
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [signatures]
              properties:
                signatures:
                  type: array
                  items:
                    type: object
                    required: [document_id, cms]
                    properties:
                      document_id: { type: string, format: uuid }
                      cms: { type: string }
                      role: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          properties:
                            document_id: { type: string, format: uuid }
                            status: { type: string, enum: [signed, failed] }
                            signature_id: { type: string, format: uuid, nullable: true }
                            error: { type: string, nullable: true }
        '401': { $ref: '#/components/responses/Unauthorized' }

  # ───────── Session signing ─────────
  /api/v1/sign/initiate:
    post:
      tags: [SessionSigning]
      summary: Создать сессию подписания и поставить документы в очередь скачивания
      description: |
        Hash-flow (рекомендуется): клиент уже посчитал SHA-256 PDF и положил
        в `x-amz-meta-sha256` объекта S3 → передаёт `hash`, `s3_bucket`,
        `s3_key` в каждом документе → PKI не качает синхронно.
        Legacy-flow: только `source_url`; PKI скачает PDF и сам посчитает хэш.

        **Idempotency:** заголовок `Idempotency-Key` (произвольная строка ≤
        255 символов). Повтор с тем же ключом и Authorization-тенантом отдаёт
        кэшированный ответ + `X-Idempotent-Replay: true`. TTL 24h.

        **Mapping response.documents с request.documents:** используйте
        `client_ref` (если задан) или `client_index` — порядок гарантирован
        начиная с 2026-06; не полагайтесь на имя файла как ключ.
      parameters:
        - { $ref: '#/components/parameters/IdempotencyKey' }
        - { $ref: '#/components/parameters/RequestID' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/InitiateRequest' }
      responses:
        '200':
          description: Сессия создана, у части документов status=ready, у остальных fetch_failed
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
            X-Idempotent-Replay:
              schema: { type: string }
              description: '`true` если ответ взят из idempotency-кэша'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InitiateResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409':
          description: Дубликат документа (DUPLICATE_DOCUMENT_NAME или duplicate_client_ref)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '502':
          description: Все документы провалили fetch (FETCH_FAILED)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/sign/complete:
    post:
      tags: [SessionSigning]
      summary: Завершить сессию — принять CMS, собрать PDF, залить в S3 клиента
      description: |
        CMS — base64 detached PKCS#7 (как возвращает NCALayer
        `kz.gov.pki.knca.basics.signHashes`). Поддерживается std-base64,
        raw-std-base64, url-safe-base64, raw-url-safe-base64. Внутри CMS
        проверяется messageDigest ↔ session.hash; mismatch → 422 HASH_MISMATCH.

        **Асинхронный постпроцессинг**: успешный ответ (`status: signed`)
        означает, что подпись криптографически подтверждена — это финальный
        юридический факт. QR-штамп на страницах, пересборка Листа подписей и
        выгрузка готового PDF клиенту при этом продолжаются в фоне. Ответ НЕ
        содержит `s3_key` и файл ещё недоступен для скачивания — используйте
        `GET /sign/status/{session_id}` и ждите `state: UPLOADED` для каждого
        документа, прежде чем показывать пользователю кнопку скачивания.
      parameters:
        - { $ref: '#/components/parameters/RequestID' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CompleteRequest' }
      responses:
        '200':
          description: Завершено; per-document результат в `documents[]`
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CompleteResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Сессия уже completed/failed/expired (SESSION_CLOSED)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '410':
          description: Сессия истекла по TTL (SESSION_EXPIRED)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '422':
          description: |
            Бизнес-ошибка CMS. Возможные коды:
            `INVALID_CMS_BASE64`, `INVALID_CMS_STRUCTURE`, `HASH_MISMATCH`,
            `CERT_REVOKED` (сертификат отозван), `CERT_NOT_TRUSTED`, `CMS_INVALID`,
            `CERT_INVALID_USAGE` (выбран сертификат аутентификации вместо сертификата
            подписи — нет KeyUsage=SIGN/nonRepudiation), `CERT_STATUS_UNKNOWN`
            (не удалось подтвердить статус отзыва — OCSP НУЦ РК временно недоступен,
            повторимо).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/sign/status/{session_id}:
    get:
      tags: [SessionSigning]
      summary: Статус сессии
      description: |
        Возвращает агрегированный статус сессии + per-document состояние с
        нормализованным `state` enum для интеграций. Поле `status` сохранено
        для back-compat (raw внутренний статус).
      parameters:
        - name: session_id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - { $ref: '#/components/parameters/RequestID' }
      responses:
        '200':
          description: OK
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SessionStatusResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/sign/refresh-urls:
    patch:
      tags: [SessionSigning]
      summary: Перевыпустить presigned URL для документов сессии
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [session_id]
              properties:
                session_id: { type: string, format: uuid }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      documents:
                        type: array
                        items: { $ref: '#/components/schemas/SessionDocument' }

  # ───────── Applications ─────────
  /api/v1/applications/{external_id}/submit:
    post:
      tags: [Applications]
      summary: Создать/обновить заявку (BPM-вход)
      parameters:
        - $ref: '#/components/parameters/ExternalID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [documents]
              properties:
                callback_url: { type: string, format: uri }
                signer_role: { type: string }
                documents:
                  type: array
                  items:
                    type: object
                    required: [url]
                    properties:
                      url: { type: string, format: uri }
                      name: { type: string }
                      external_id: { type: string }
      responses:
        '201':
          description: Создана
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Application' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/v1/applications/{external_id}/sign:
    post:
      tags: [Applications]
      summary: Подписать документы заявки
      parameters:
        - $ref: '#/components/parameters/ExternalID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [signatures]
              properties:
                signatures:
                  type: array
                  items:
                    type: object
                    required: [document_id, cms]
                    properties:
                      document_id: { type: string, format: uuid }
                      cms: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Application' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/v1/applications/{external_id}/status:
    get:
      tags: [Applications]
      summary: Статус заявки
      parameters:
        - $ref: '#/components/parameters/ExternalID'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Application' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/applications/{external_id}/cancel:
    post:
      tags: [Applications]
      summary: Отменить заявку
      parameters:
        - $ref: '#/components/parameters/ExternalID'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Application' }

  /api/v1/applications/{external_id}/refresh-urls:
    patch:
      tags: [Applications]
      summary: Перевыпустить presigned URL у документов заявки
      parameters:
        - $ref: '#/components/parameters/ExternalID'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Application' }

  /api/v1/applications/{external_id}/retry-upload:
    post:
      tags: [Applications]
      summary: Повторить выгрузку подписанных файлов в S3 клиента
      parameters:
        - $ref: '#/components/parameters/ExternalID'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Application' }

  # ───────── Webhooks ─────────
  /api/v1/webhooks:
    get:
      tags: [Webhooks]
      summary: Список подписок
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Webhook' }
    post:
      tags: [Webhooks]
      summary: Создать подписку
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, events]
              properties:
                url: { type: string, format: uri }
                events:
                  type: array
                  items: { type: string, example: signature.added }
                secret: { type: string, description: HMAC-секрет }
      responses:
        '201':
          description: Создана
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Webhook' }

  /api/v1/webhooks/{webhook_id}:
    delete:
      tags: [Webhooks]
      summary: Удалить подписку
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204': { description: Удалена }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/webhooks/{webhook_id}/test:
    post:
      tags: [Webhooks]
      summary: Отправить тестовый webhook
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code: { type: integer, example: 200 }
                  body: { type: string }

  # ───────── Admin ─────────
  /api/admin/tenants:
    get:
      tags: [Admin]
      security:
        - BearerAuth: []
      summary: Список тенантов
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Tenant' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Admin]
      security:
        - BearerAuth: []
      summary: Создать тенант
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, type]
              properties:
                name: { type: string }
                type: { type: string, enum: [individual, legal_entity] }
      responses:
        '201':
          description: Создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Tenant' }

  /api/admin/tenants/{tenant_id}/keys:
    get:
      tags: [Admin]
      security:
        - BearerAuth: []
      summary: Список API-ключей тенанта
      parameters:
        - $ref: '#/components/parameters/TenantID'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/ApiKey' }
    post:
      tags: [Admin]
      security:
        - BearerAuth: []
      summary: Сгенерировать API-ключ
      parameters:
        - $ref: '#/components/parameters/TenantID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [label]
              properties:
                label: { type: string }
                expires_at: { type: string, format: date-time, nullable: true }
      responses:
        '201':
          description: Ключ создан, plaintext возвращается ОДИН раз
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      api_key: { type: string, description: plaintext API-ключ (вернётся только в этом ответе) }
                      key: { $ref: '#/components/schemas/ApiKey' }

  /api/admin/tenants/{tenant_id}/keys/{key_id}:
    delete:
      tags: [Admin]
      security:
        - BearerAuth: []
      summary: Деактивировать ключ
      parameters:
        - $ref: '#/components/parameters/TenantID'
        - name: key_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204': { description: Деактивирован }

  /api/admin/users:
    get:
      tags: [Admin]
      security:
        - BearerAuth: []
      summary: Список пользователей
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string, format: uuid }
                        email: { type: string }
                        name: { type: string }
                        role: { type: string, enum: [user, admin] }
                        tenant_id: { type: string, format: uuid }
    post:
      tags: [Admin]
      security:
        - BearerAuth: []
      summary: Создать пользователя
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, name, tenant_id]
              properties:
                email: { type: string, format: email }
                password: { type: string, minLength: 8 }
                name: { type: string }
                role: { type: string, enum: [user, admin], default: user }
                tenant_id: { type: string, format: uuid }
      responses:
        '201': { description: Создан }

  /api/admin/users/{user_id}:
    patch:
      tags: [Admin]
      security:
        - BearerAuth: []
      summary: Обновить пользователя
      parameters:
        - name: user_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                role: { type: string, enum: [user, admin] }
                tenant_id: { type: string, format: uuid }
      responses:
        '200': { description: OK }
    delete:
      tags: [Admin]
      security:
        - BearerAuth: []
      summary: Удалить пользователя
      parameters:
        - name: user_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204': { description: Удалён }

  # ───────── Demo ─────────
  /api/demo/upload:
    post:
      tags: [Demo]
      security: []
      summary: Демо-загрузка PDF (без auth)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string, format: uuid }
                  url: { type: string, format: uri }

  /api/demo/download/{id}:
    get:
      tags: [Demo]
      security: []
      summary: Скачать загруженный демо-файл
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: PDF
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '404': { $ref: '#/components/responses/NotFound' }

components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      description: "API-ключ в заголовке `Authorization: Bearer <api_key>` (длинный токен без точек)."
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    DocumentID:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
    TenantID:
      name: tenant_id
      in: path
      required: true
      schema: { type: string, format: uuid }
    ExternalID:
      name: external_id
      in: path
      required: true
      schema: { type: string }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      schema: { type: string, maxLength: 255 }
      description: |
        Идентификатор для дедупликации повторных запросов. Повтор с тем же
        ключом + тем же (method, path, tenant) в течение 24h возвращает
        кэшированный ответ + `X-Idempotent-Replay: true`. Рекомендуется
        UUID или хэш payload.
    RequestID:
      name: X-Request-Id
      in: header
      required: false
      schema: { type: string }
      description: |
        Идентификатор для сквозной корреляции логов. Если не задан, PKI
        генерирует UUID и возвращает в response header. Используйте один
        и тот же ID для всех вызовов в рамках одной операции у клиента.

  headers:
    XRequestId:
      schema: { type: string }
      description: |
        Echo входящего X-Request-Id, либо сгенерированный UUID. Используется
        для корреляции логов между Lovable Edge и PKI.

  responses:
    BadRequest:
      description: Невалидный запрос
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: Не авторизован
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: Доступ запрещён
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Не найдено
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unprocessable:
      description: Бизнес-ошибка (невалидный CMS, отозванный сертификат и т.п.)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    ServerError:
      description: Внутренняя ошибка
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    PayloadTooLarge:
      description: Тело превышает лимит (1 MiB на /sign/*, 50 MiB на /upload, /batch/upload)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

  schemas:
    Error:
      type: object
      description: |
        Единый envelope ошибок для всех 4xx/5xx ответов API. `code` —
        машинно-читаемый, `message` — человекочитаемый, `request_id` —
        корреляция с логами, `details` — поле-зависимые данные.
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              example: HASH_MISMATCH
              description: |
                Известные значения:
                  Общие: INVALID_REQUEST, UNAUTHORIZED, FORBIDDEN,
                         PAYLOAD_TOO_LARGE, INTERNAL.
                  Документы: DOCUMENT_NOT_FOUND, DUPLICATE_DOCUMENT_NAME.
                  Идемпотентность: IDEMPOTENCY_KEY_REUSED (409 — тот же
                         Idempotency-Key с другим телом запроса).
                  Сессии: SESSION_NOT_FOUND, SESSION_EXPIRED, SESSION_CLOSED.
                  CMS: INVALID_CMS_BASE64, INVALID_CMS_STRUCTURE,
                       HASH_MISMATCH, CMS_INVALID, CERT_REVOKED,
                       CERT_NOT_TRUSTED, CERT_INVALID_USAGE (сертификат
                       аутентификации вместо сертификата подписи),
                       CERT_STATUS_UNKNOWN (OCSP НУЦ РК временно недоступен,
                       повторимо).
                  Fetch: FETCH_FAILED.
                  Асинхронный постпроцессинг (только через GET /sign/status,
                  см. StatusDocument.error_code): POST_PROCESSING_FAILED,
                  TARGET_URL_EXPIRED (восстановимо через
                  PATCH /sign/refresh-urls), TARGET_URL_REJECTED (presigned
                  target_url не совпадает с реальным PUT-запросом — обычно
                  подписан с лишним обязательным заголовком; refresh-urls не
                  поможет, чинить генерацию presign на стороне клиента).
            message: { type: string, example: 'CMS messageDigest does not match document hash' }
            request_id:
              type: string
              description: 'Сквозной корреляционный ID (тот же, что в X-Request-Id header)'
              example: '550e8400-e29b-41d4-a716-446655440000'
            details:
              type: object
              additionalProperties: true
              description: |
                Поле-зависимые данные. Примеры:
                  DUPLICATE_DOCUMENT_NAME: { name: "doc.pdf", index: 3 }
                  PAYLOAD_TOO_LARGE: { limit_bytes: 1048576 }
                  INVALID_REQUEST + duplicate_client_ref: { reason, client_ref, index, first }

    InitiateRequest:
      type: object
      required: [documents, signer_role]
      properties:
        signer_role:
          type: string
          enum: [client, manager, director]
        application_id:
          type: string
          description: 'Внешний доменный ID заявки (для логов/аудита)'
        callback_url:
          type: string
          format: uri
          description: 'HTTPS-URL для webhook session_completed/session_failed (HMAC X-PKI-Signature)'
        callback_secret:
          type: string
          description: 'Обязателен если callback_url задан. HMAC-секрет.'
        documents:
          type: array
          minItems: 1
          maxItems: 20
          items: { $ref: '#/components/schemas/InitiateDocInput' }

    InitiateDocInput:
      type: object
      required: [name, source_url, target_url]
      properties:
        id:
          type: string
          description: 'Опциональный внешний ID документа (для логов)'
        name:
          type: string
          description: 'Имя файла. Уникально в рамках сессии — иначе 409 DUPLICATE_DOCUMENT_NAME'
        source_url:
          type: string
          format: uri
          description: 'Presigned HTTPS GET URL для скачивания PDF клиентом. Рекомендуемый TTL — 2h.'
        target_url:
          type: string
          format: uri
          description: 'Presigned HTTPS PUT URL для заливки подписанного PDF.'
        target_s3_key:
          type: string
          description: 'S3-ключ подписанного объекта (для логов/аудита).'
        client_ref:
          type: string
          description: |
            Опциональный доменный ID документа на стороне клиента. Если задан,
            возвращается как есть в response — используйте для маппинга вместо
            сопоставления-по-индексу. Уникальность в рамках сессии валидируется
            (дубль → 400 INVALID_REQUEST с details.reason="duplicate_client_ref").
        hash:
          type: string
          description: |
            base64 SHA-256 хэш PDF, посчитанный клиентом. При наличии PKI
            НЕ скачивает PDF в /sign/initiate (синхронный фетч пропускается).
        hash_algorithm:
          type: string
          enum: ['', SHA256, 'SHA-256']
          description: 'Алгоритм хэша. Поддерживается только SHA-256.'
        s3_bucket:
          type: string
          description: 'Бакет с исходным PDF (требуется когда hash задан).'
        s3_key:
          type: string
          description: 'Ключ исходного PDF в s3_bucket (требуется когда hash задан).'
        size:
          type: integer
          format: int64
          description: 'Размер PDF в байтах (для логов/аудита).'
        content_type:
          type: string
          example: application/pdf

    InitiateDocResponse:
      type: object
      required: [doc_id, name, status]
      properties:
        doc_id:
          type: string
          format: uuid
          description: 'Внутренний UUID документа в PKI'
        name: { type: string }
        client_ref:
          type: string
          description: 'Эхо ClientRef из request (если задан)'
        hash:
          type: string
          description: 'base64 SHA-256 готовый к подписанию NCALayer-ом'
        hash_algorithm: { type: string, example: SHA256 }
        status:
          type: string
          enum: [ready, fetch_failed, fetching, pending]
          description: |
            Внутренний статус документа на момент возврата. Используйте
            /sign/status для нормализованного `state` enum.
        error:
          type: string
          description: 'Сообщение об ошибке fetch при status=fetch_failed'

    InitiateResponse:
      type: object
      required: [session_id, expires_at, documents]
      properties:
        session_id: { type: string, format: uuid }
        expires_at:
          type: string
          format: date-time
          description: 'TTL сессии (по умолчанию now + 2h)'
        documents:
          type: array
          items: { $ref: '#/components/schemas/InitiateDocResponse' }

    CompleteRequest:
      type: object
      required: [session_id, signatures]
      properties:
        session_id: { type: string, format: uuid }
        signatures:
          type: array
          minItems: 1
          items:
            type: object
            required: [doc_id, cms]
            properties:
              doc_id: { type: string, format: uuid }
              cms:
                type: string
                description: |
                  base64-encoded detached CMS (PKCS#7). Поддерживаются
                  std-base64, raw-std-base64, url-safe-base64, raw-url-safe-base64.

    CompleteDocResponse:
      type: object
      properties:
        doc_id: { type: string, format: uuid }
        name: { type: string }
        status:
          type: string
          enum: [signed, error]
          description: |
            `signed` означает, что CMS криптографически подтверждён NCANode —
            документ юридически подписан. QR-штамп, Лист подписей и выгрузка
            клиенту в этот момент ещё выполняются в фоне (обычно секунды).
        s3_key:
          type: string
          description: |
            НЕ возвращается в этом ответе — артефакт ещё не готов сразу после
            /sign/complete. Поллите /sign/status и дождитесь state=UPLOADED,
            только тогда s3_key валиден и файл доступен для скачивания.
        error:
          type: string
          description: 'Сообщение об ошибке при status=error'

    CompleteResponse:
      type: object
      properties:
        succeeded: { type: integer }
        failed: { type: integer }
        documents:
          type: array
          items: { $ref: '#/components/schemas/CompleteDocResponse' }

    SessionStatusDoc:
      type: object
      properties:
        doc_id: { type: string, format: uuid }
        name: { type: string }
        client_ref:
          type: string
          description: 'Эхо из /sign/initiate (если был задан)'
        status:
          type: string
          description: 'Raw внутренний статус (back-compat)'
        state:
          type: string
          enum: [PENDING, FETCHING, READY, SIGNING, SIGNED, UPLOADING, UPLOADED, FAILED]
          description: |
            Нормализованный enum для интеграций. SIGNED означает "подписан
            криптографически, артефакт ещё готовится в фоне" — кнопку
            скачивания включайте только при UPLOADED, не раньше.
        error_code:
          type: string
          enum: [FETCH_FAILED, UPLOAD_FAILED, SIGNING_FAILED, POST_PROCESSING_FAILED, TARGET_URL_EXPIRED, TARGET_URL_REJECTED]
          description: |
            Машинно-читаемый код ошибки документа (при state=FAILED).
            POST_PROCESSING_FAILED — фоновая сборка PDF/выгрузка исчерпала
            попытки. TARGET_URL_EXPIRED — presigned URL клиента истёк;
            восстановимо через PATCH /sign/refresh-urls с новым URL.
            TARGET_URL_REJECTED — presigned target_url отклонён S3 клиента
            (обычно 403 SignatureDoesNotMatch, НЕ истечение) — контракт
            presign не совпадает с реальным PUT-запросом Chandra (частая
            причина: presign подписан с обязательным x-amz-meta-sha256,
            которого Chandra не шлёт). refresh-urls НЕ поможет — нужно
            исправить генерацию presigned PUT на стороне клиента.
        s3_key:
          type: string
          description: 'Валиден только при state=UPLOADED — до этого пуст.'
        verify_url:
          type: string
          description: |
            Публичная страница проверки подписи (/verify/{doc_id}). Появляется
            начиная с state=SIGNED — не привязана к готовности скачиваемого
            PDF (в отличие от s3_key).
        signed_at: { type: string, format: date-time, nullable: true }
        uploaded_at: { type: string, format: date-time, nullable: true }
        error: { type: string, nullable: true }

    SessionStatusResponse:
      type: object
      properties:
        session_id: { type: string, format: uuid }
        status:
          type: string
          enum: [pending, signing, completed, failed, expired]
          description: 'Агрегированный статус сессии (derived из документов)'
        expires_at: { type: string, format: date-time }
        application_id: { type: string }
        documents:
          type: array
          items: { $ref: '#/components/schemas/SessionStatusDoc' }

    AuthResponse:
      type: object
      properties:
        user:
          type: object
          properties:
            id: { type: string, format: uuid }
            email: { type: string }
            name: { type: string }
            role: { type: string, enum: [user, admin] }
            tenant_id: { type: string, format: uuid }
        token:
          type: string
          description: JWT, время жизни 24ч

    Document:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        title: { type: string, nullable: true }
        s3_key_original: { type: string }
        s3_key_current: { type: string }
        current_version: { type: integer }
        status:
          type: string
          enum: [draft, pending, partially_signed, signed, rejected]
        metadata:
          type: object
          additionalProperties: true
          nullable: true
        signatures:
          type: array
          items: { $ref: '#/components/schemas/Signature' }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    Signature:
      type: object
      properties:
        id: { type: string, format: uuid }
        document_id: { type: string, format: uuid }
        version_number: { type: integer }
        sequence_num: { type: integer }
        role: { type: string }
        signer_name: { type: string }
        signer_iin: { type: string, nullable: true }
        signer_bin: { type: string, nullable: true }
        org_name: { type: string, nullable: true }
        signer_type: { type: string, enum: [individual, legal_entity_rep] }
        basis: { type: string, nullable: true }
        cert_serial: { type: string }
        cert_not_before: { type: string, format: date-time }
        cert_not_after: { type: string, format: date-time }
        ca_name: { type: string }
        ocsp_status: { type: string, enum: [good, revoked, unknown] }
        ocsp_checked_at: { type: string, format: date-time }
        tsp_time: { type: string, format: date-time, nullable: true }
        sha256_hash: { type: string }
        sign_format: { type: string, example: CAdES (CMS, PKCS#7) }
        qr_url: { type: string, format: uri }
        signed_at: { type: string, format: date-time }

    SigningSession:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        signer_role: { type: string }
        status:
          type: string
          enum: [pending, fetching, ready, signing, signed, failed, expired]
        callback_url: { type: string, format: uri, nullable: true }
        documents:
          type: array
          items: { $ref: '#/components/schemas/SessionDocument' }
        created_at: { type: string, format: date-time }
        expires_at: { type: string, format: date-time }

    SessionDocument:
      type: object
      properties:
        id: { type: string, format: uuid }
        session_id: { type: string, format: uuid }
        external_id: { type: string, nullable: true }
        source_url: { type: string, format: uri }
        cached_url: { type: string, format: uri, nullable: true, description: presigned URL для скачивания оригинала }
        signed_url: { type: string, format: uri, nullable: true }
        sha256: { type: string, nullable: true, description: SHA-256 hex от байт PDF }
        sha256_b64: { type: string, nullable: true, description: SHA-256 base64, передаётся NCALayer }
        status:
          type: string
          enum: [pending, cached, signed, failed]

    Application:
      type: object
      properties:
        external_id: { type: string }
        tenant_id: { type: string, format: uuid }
        status:
          type: string
          enum: [pending, ready, signed, uploaded, failed, cancelled]
        callback_url: { type: string, format: uri, nullable: true }
        signer_role: { type: string, nullable: true }
        documents:
          type: array
          items: { $ref: '#/components/schemas/ApplicationDocument' }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    ApplicationDocument:
      type: object
      properties:
        id: { type: string, format: uuid }
        external_id: { type: string, nullable: true }
        source_url: { type: string, format: uri }
        cached_url: { type: string, format: uri, nullable: true }
        signed_url: { type: string, format: uri, nullable: true }
        status:
          type: string
          enum: [pending, cached, signed, uploaded, failed]

    Webhook:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        url: { type: string, format: uri }
        events:
          type: array
          items: { type: string, example: signature.added }
        is_active: { type: boolean }
        created_at: { type: string, format: date-time }

    Tenant:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        type: { type: string, enum: [individual, legal_entity] }
        is_active: { type: boolean }
        created_at: { type: string, format: date-time }

    ApiKey:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        label: { type: string }
        is_active: { type: boolean }
        last_used_at: { type: string, format: date-time, nullable: true }
        expires_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }

    SignatureVerification:
      type: object
      description: Данные, отображаемые на публичной HTML-странице /verify/{signature_id}.
      properties:
        signer_name: { type: string }
        masked_iin: { type: string, example: 8904****1782 }
        signer_bin: { type: string, nullable: true }
        org_name: { type: string, nullable: true }
        signer_type: { type: string, enum: [individual, legal_entity_rep] }
        basis: { type: string, nullable: true }
        ca_name: { type: string }
        cert_serial_short: { type: string, example: "2F:5...:CD" }
        cert_not_before: { type: string, format: date }
        cert_not_after: { type: string, format: date }
        sign_format: { type: string, example: CAdES (CMS, PKCS#7) }
        sha256_short: { type: string, example: 125939f4...71ece070 }
        signed_at: { type: string, format: date-time }
        qr_data_uri: { type: string, description: "data:image/png;base64,..." }
